/* Site Header
 * ============================================== */
    .site-header {
        min-height: 450px;
        background-color: $brand-color;
        background-image: url('');
        background-size: cover;
        background-position: center -170px;
        background-attachment: fixed;
        
        -webkit-box-shadow: 0px 3px 4px #225F7F;
           -moz-box-shadow: 0px 3px 4px #225F7F;
                box-shadow: 0px 3px 4px #225F7F;

        @include media-query($on-palm) {
            min-height: 250px;
            background-position: center -250px;
        }
    }

    .site-header a, a h1:hover {color: #FFF};

    .site-header h1 {
        display: block;
        font-size: 80px !important;
        line-height: 80px;
        letter-spacing: 3px;
        text-align: center;
        padding-top: 20px;
        clear: both;
        font-family: 'Open Sans';

        @include media-query($on-palm) {
            font-size:60px !important;
            letter-spacing: 0px;
        }
    }

    .site-header span {
        border: 10px solid #FFF;
        padding: 0.3em 0.5em;
        margin: 10px 20px;
        display: inline-block;

        @include media-query($on-palm) {
            margin: 10px 10px;
            padding: 0.15em 0.4em;
        }
    }

    .site-nav {
        float: right;
        line-height: 56px;
        margin-right: 25px;
        padding-bottom: 100px;

        .page-link {
            line-height: $base-line-height;
            font-weight: bold;
            letter-spacing: 0.05em;

            &:not(:first-child) {
                margin-left: 20px;
            }
        }

        .page-link:hover {
            opacity: 0.8;
        }

        @include media-query($on-palm) {
            padding-bottom: 10px;
        }
    }
    
    .site-header-post {
        min-height: 56px;
        background-color: $brand-color;
        background-image: url('');
        background-size: cover;
        background-position: center -170px;
        background-attachment: fixed;
        
        
        -webkit-box-shadow: 0px 2px 3px #005F7F;
           -moz-box-shadow: 0px 2px 3px #005F7F;
                box-shadow: 0px 2px 3px #005F7F;
        
        
        .site-nav-logo {
            float: left;
            padding-top: 16px;
            padding-left: calc(50% - 40px);
            
            & > a {
                padding: 5px 5px;
                border: 4px solid #FFF;
                font-family: 'Open Sans';
                font-weight: bold;
                color: #FFF;
            }
            
            @include media-query($on-palm) {
                padding-left: 10px;
            }
        }
        
        & a {
            color: #FFF;
        }
    }
    
/* Site Footer
 * ============================================== */
    .footer {
        padding-bottom: 3em;
        margin: auto;
        font-size: 12px;
        font-family: Open Sans;
        color: #959595;
        max-width: -webkit-calc(700px - #{$grid-padding} * 2);
        max-width:         calc(700px - #{$grid-padding} * 2);
    }

    .footer-logo {
        border: 7px solid $brand-color;
        padding: 10px;
        font-size: 45px;
        font-family: 'Open Sans';
        font-weight: bold;
        
        color: $brand-color;
        
        @include media-query($on-palm) {
            padding: 5px;
        }
    }

/* Individual Posts
 * ============================================== */
    .page-content {
        padding: $spacing-unit 0;
        text-align: justify;
    }

    .page-heading {
        font-size: 20px;
        padding-top: 2px;
    }

/* Archive
 * ============================================== */
    .post-list {
        margin-left: 0;
        list-style: none;

        > li {
            display: block;
            padding: 0.1em 1.5em;
        }

    }

    .post-link {
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 1.5em;
        letter-spacing: -1px;
        color: #454545;
        display: block;
        width: 100%;

        @include media-query($on-palm) {
            font-size: 1.33em;
        }
    }

    .post-meta {
        font-size: $small-font-size;
        color: $grey-color-light;
        text-transform: uppercase;
        display: inline-block;
    }

/* Post Format
 * ============================================== */
    .post-header {
        margin-bottom: $spacing-unit;
    }

    .post-title {
        font-size: 42px;
        letter-spacing: -1px;
        line-height: 1;

        @include media-query($on-laptop) {
            font-size: 36px;
        }
    }

    .post-content {
        margin-bottom: $spacing-unit;
        /*
        h2 {
            font-size: 32px;

            @include media-query($on-laptop) {
                font-size: 28px;
            }
        }

        h3 {
            font-size: 26px;

            @include media-query($on-laptop) {
                font-size: 22px;
            }
        }

        h4 {
            font-size: 20px;

            @include media-query($on-laptop) {
                font-size: 18px;
            }
        } */
    }
    
/* Simple Column Grid
 * ============================================== */
    .col-1 {
        float: left;
        position: relative;
        min-height: 1px;
        width: -webkit-calc(100% / 3);
        width:    -moz-calc(100% / 3);
        width:         calc(100% / 3);
        padding-bottom: 3em;
        
        @include media-query($on-palm) {
            clear: both;
            width: -webkit-calc(100% - #{$grid-padding} * 2);
            width:    -moz-calc(100% - #{$grid-padding} * 2);
            width:         calc(100% - #{$grid-padding} * 2);
            
            padding-left:  $grid-padding;
            padding-right: $grid-padding;
            
            margin: auto;
            
        }
    }
    
    .col-2 {
        float: left;
        position: relative;
        min-height: 1px;
        width: -webkit-calc(100% / 3 * 2);
        width:    -moz-calc(100% / 3 * 2);
        width:         calc(100% / 3 * 2);
        
        @include media-query($on-palm) {
            clear: both;
            width: -webkit-calc(100% - #{$grid-padding} * 2);
            width:    -moz-calc(100% - #{$grid-padding} * 2);
            width:         calc(100% - #{$grid-padding} * 2);
        }
    }
    
    .col-3 {
        float: left;
        position: relative;
        min-height: 1px;
        width: 100%;
        
        @include media-query($on-palm) {
            clear: both;
            width: -webkit-calc(100% - #{$grid-padding} * 2);
            width:    -moz-calc(100% - #{$grid-padding} * 2);
            width:         calc(100% - #{$grid-padding} * 2);
        }
    }
    
/* Some Other Stuffs
 * ============================================== */

    .no-float {
        clear: both;
    }
    
    hr {
        margin-top: $grid-padding;
        margin-bottom : $grid-padding;
    }
    
    .member-contact {
        color: black;
    }
    
    .signup-form {
        @include media-query($on-palm) {
            display: none;
        }
    }
    
    .signup-form-palm {
        display: none;
        @include media-query($on-palm) {
            display: inherit;
        }
    }